.promo {
    min-height: 650px;
    background: url("../img/bg1.jpg") center (center / cover) no-repeat;
    padding: 21px 0 93px 0;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 91px;
    }
    &__subheader {
        font-family: MuseoSansCyrl;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        margin-top: 17px;
        color: #ffffff;
    }
    &__icons {
        margin-top: 67px;
        width: 425px;
        display: flex;
        justify-content: space-between;
        font-family: MuseoSansCyrl;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        &_item {
            text-align: center;
            width: 108px;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        a {
            color: #ffffff; 
            text-decoration: underline;
            :hover {
                color: #ffffff; 
                text-decoration: none;
            }
        }
    }
}