.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    &_header {
        font-size: 42px;
        color: #ffffff;
    }
    &_subheader {
        font-size: 36px;
        text-align: center;
        color: #0d0d0d;
        &_left {
            width: 780px;
            text-align: left;
            color: #ffffff;
        }
    }

}